.results-container{
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width:  800px;
    margin: 0 auto;
}

.answers-review {
    margin-top: 2rem;
}

.question-result{
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}
.question-result.correct{
    background-color: #e8f5e9;
    border-left: 5px solid #2ecc71;
}
.question-result.incorrect{
    background-color: #ffebee;
    border-left: 5px solid #e74c3c;
}

.results-container button{
    background-color: #3498db;
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
}
.results-container button:hover{
    background-color: #2980b9;
}

.choice-container {
    display: flex;
    align-items: center;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 5px;
    margin: 0.5rem 0;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s;
}

.choice-container :hover{
    background-color: #f1f8ff;
}
.choice-prefix{
    font-weight: bold;
    margin-right: 1rem;
}
.choice-container.selected{
    background-color: #e3f2fd;
    border: 2px solid #3498DB;
}
#progress-bar{
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    height: 20px;
    margin: 1rem 0;
}
#progressBarFull{
    height: 100%;
    width: 0%;
    background-color: #3498db;
    transition: width 0,5s ease-in-out;
}

.submit-btn{
    background-color: #3498db;
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s;
}
.submit-btn:hover{
    background-color: #2980b9;
}